<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <% include ../partials/css %>
  <style>
    body,
    html {
      width: 100%;
      height: 100%;
      background-image: url('/adminpage/assets/images/sign-bg-01.svg');
    }

    .online {
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: 0 0 4px 3px #50c249;
      border-radius: 20px;
      margin: 20px;
    }

    .online img {
      float: left;
    }

    .online h3 {
      margin: 0;
      display: unset;
      padding: 10px;
    }

    .my-title {
      text-align: center;
      font-size: 27px;
      font-family: inherit;
      margin: 20px 0 20px 0;
      color: #2E9AFE;
    }

    .table-responsive {
      margin-top: 70px;

    }

    #datatable td,
    #datatable th {
      text-align: center;
      vertical-align: middle;
    }
  </style>
  <title>Bảng xếp hạng</title>
  <link href="/adminpage/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="/adminpage/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <header class="sign-up log-in">
    <!-- <div class="bg">
      <img class="wave-purple" src="/adminpage/assets/images/sign-bg-01.svg" alt="" />
    </div> -->
    <div class='online'>
      <img src="/adminpage/assets/images/eye.png" alt="">
      <h3 id='numOfOnline'>0</h3>
    </div>
    <div class="sign-up-content">

      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="card-box table-responsive">

              <h4 class="m-t-0 header-title my-title">QUẢN LÍ THÍ SINH</h4>
              <div class="container" style="overflow-x: auto">

                <table cellspacing="0" id="datatable" class="table table-hover table-bordered"
                  style="width: 100%; min-width: 600px;">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Họ và tên</th>
                      <th>Trường</th>
                      <th>Câu lạc bộ</th>
                      <th>Số gian hàng đã tham gia</th>
                      <th>Xếp hạng</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- container -->
    </div>

  </header>
  <% include ../partials/scripts %>
  <script src="/adminpage/assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/adminpage/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

  <script>

    setInterval(function () {
      $.post('/admin/users/status/getData', function (x) {
        var count = 0;
        for (var key in x)
          if (x.hasOwnProperty(key))
            count++;
        document.getElementById('numOfOnline').innerText = count;

        $('#datatable').dataTable({
          "data": x,
          columns: [
            { mData: 'data' },
            { mData: 'fullname' },
            { mData: 'university' },
            { mData: 'clb' },
            { mData: 'numOfJoiningStaff' },
            { mData: 'rank' }
          ], "order": [[5, 'asc']],
          "pageLength": 50,

          destroy: true,
          searching: false
        });

        $('#datatable').dataTable().fnClearTable();
        $('#datatable').dataTable().fnAddData(x);
      });
    }, 3000)

  </script>

</body>

</html>